html {
  color: white;
  text-align: center;
}
.header{
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
.instructions{
  color: black;
  background: rgba(208,228,245,0.84) no-repeat scroll 0 0;
}
body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: white;
  background: url(./background.png);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
