html {
  color: white;
  text-align: center;
}
.header{
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: white;
  background: url(./background.png);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
